@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

:root {
  --bg-main: #ffffff;
  --fg-main: #171717;
  --bg-contrast: var(--color-neutral-100);
  --separator: var(--color-neutral-300);
  --footer: var(--color-main);
  --header-height: 150px;
}

@theme inline {
  --color-bg-main: var(--bg-main);
  --color-fg-main: var(--fg-main);
  --color-bg-contrast: var(--bg-contrast);
  --color-separator: var(--separator);
  --color-footer: var(--footer);
  --color-main: #59b5a3;
  --color-main-hover: #3f8275;
  --font-logo: var(--font-montserrat);
  --font-header: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #2b2b2b;
    --fg-main: #ffffff;
    --bg-contrast: var(--color-neutral-800);
    --separator: var(--color-neutral-600);
    --footer: var(--bg-contrast);
  }
}

body {
  background: var(--bg-main);
  color: var(--fg-main);
  font-family: var(--font-text);
}

.section-header {
  color: var(--color-main);
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height));
  font-weight: var(--font-weight-bold);
  background-color: var(--bg-contrast);
  border-radius: var(--radius-xl);
  padding-inline: calc(var(--spacing) * 16);
  padding-block: calc(var(--spacing) * 2);
}

.services-card {
  background-color: var(--bg-contrast);
  border-radius: var(--radius-2xl);
  padding: calc(var(--spacing) * 6);
}

.services-card h3 {
  color: var(--color-main);
  border-color: var(--separator);
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  margin-bottom: calc(var(--spacing) * 6);
  padding-bottom: calc(var(--spacing) * 3);
  text-align: center;
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  font-weight: var(--font-weight-bold);
}
